<app-header [title]="'Chat'"></app-header>

<ion-content [fullscreen]="true">
  <div class="tab-container">
    <div class="chat-messages">
      @for (message of chatService.messages(); track message.timestamp) {
        <div
          [ngClass]="{
            'user-message': message.sender === 'user',
            'system-message': message.sender === 'system',
          }"
        >
          <div class="message-header">
            <strong>{{ message.sender === 'user' ? 'You' : 'ClosBot' }}</strong>
            <span class="timestamp">{{ message.timestamp | date: 'short' }}</span>
          </div>
          @if (message.sender === 'user') {
            <div class="message-content user-content">{{ message.content }}</div>
          } @else {
            <div class="message-content system-content">
              <markdown [data]="message.content"></markdown>
            </div>
          }
        </div>
      }

      @if (waiting()) {
        <div class="system-message">
          <div class="loading-indicator">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </div>
      }
    </div>

    <div class="textarea-container textarea-container-top">
      <ion-textarea
        [(ngModel)]="currentMessage"
        (keyup.enter)="sendMessage()"
        placeholder="Ask here..."
      >
      </ion-textarea>
      <div class="button-container">
        <ion-button (click)="sendMessage()" [disabled]="!currentMessage.trim()">Chat</ion-button>
        <ion-button (click)="clearChat()">Clear</ion-button>
        <ion-button (click)="readMenu()" [disabled]="waiting()">Menu</ion-button>
        <ion-button (click)="sumarizeBottle()" [disabled]="waiting()">Bottle</ion-button>
      </div>
    </div>
  </div>
</ion-content>
