<ion-header [translucent]="true">
  <ion-row>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-item>
          <ion-label (click)="toggleRealServices()" [aria-label]="content().useRealServices"
            ><ion-icon name="hammer" color="primary"></ion-icon
          ></ion-label>
          &nbsp;
          <ion-toggle
            [checked]="configService.isUsingRealServices()"
            (ionChange)="toggleRealServices()"
          >
          </ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label (click)="toggleBurgundyFocus()" [aria-label]="content().burgundyFocus"
            ><ion-icon name="earth" color="primary"></ion-icon
          ></ion-label>
          &nbsp;
          <ion-toggle
            [checked]="!configService.isBurgundyFocused()"
            (ionChange)="toggleBurgundyFocus()"
          >
          </ion-toggle>
        </ion-item>
        &nbsp;
        <ion-item>EN &nbsp;<ion-toggle (click)="toggleLang()"></ion-toggle> &nbsp; FR</ion-item>
        <ion-button (click)="chatService.flagChat()" [disabled]="!chatService.enableFlagButton()">
          <ion-icon slot="icon-only" color="primary" name="flag"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-row>
</ion-header>
