<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-row (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">
    <ion-img [src]="photo().webviewPath"></ion-img>
  </ion-row>
  <ion-row>
    <p>{{ captureDate() }}</p>
  </ion-row>
  <ion-row>
    <div>
      @for (label of photo().labels; track label) {
        <ion-chip (click)="removeLabel(label)">
          <ion-label>{{ label }}</ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
      }
    </div>
  </ion-row>
  <ion-row>
    <p>
      <ion-input
        [placeholder]="content().addLabel"
        (keyup.enter)="addLabel($event)"
        enterkeyhint="done"
      ></ion-input>
    </p>
    <ion-textarea [(ngModel)]="notes" [placeholder]="content().enterNote" rows="3"></ion-textarea>
    <div>
      <ion-button (click)="submitNote()">{{ content().saveNotes }}</ion-button>
    </div>
  </ion-row>
</ion-content>
