<app-header [title]="'Add Review'"></app-header>

<ion-content [fullscreen]="true">
  <div class="tab-container">
    <form [formGroup]="reviewForm">
      <div class="tab-content">
        <ion-textarea
          formControlName="review"
          placeholder="Enter wine review here..."
          (keyup.enter)="submitReview()"
          rows="3"
        ></ion-textarea>
        <div class="pt-8p">
          <ion-toggle formControlName="includePhoto"> Include photo?</ion-toggle>
        </div>
        <div>
          <ion-button (click)="submitReview()" [disabled]="reviewForm.status !== 'VALID'">
            Save notes</ion-button
          >
        </div>
      </div>
    </form>
  </div>
</ion-content>
