<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      @for (photo of winePhotos(); track photo.filepath) {
        <ion-col size="6">
          <ion-img [src]="photo.webviewPath"></ion-img>
          <ion-button size="small" (click)="editNote(photo.id)">{{ content().edit }}</ion-button>
          <ion-button size="small" (click)="openDeleteModal(photo.id)">{{
            content().delete
          }}</ion-button>
          <p>{{ photo.wineDetails }}</p>
        </ion-col>
      }
      @if (winePhotos().length === 0) {
        <ion-col size="12">
          <p>{{ content().noPhotos }}</p>
        </ion-col>
      }
    </ion-row>
    <ion-modal [isOpen]="isModalOpen()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ content().delete }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-button (click)="deletePhoto()">{{ content().yes }}</ion-button>
          <ion-button fill="outline" (click)="closeModal()">{{ content().no }}</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-grid>
</ion-content>
