<app-header></app-header>

<ion-content [fullscreen]="true">
  <div class="search-wrapper">
    <ion-searchbar
      [placeholder]="'Search by label'"
      (ionInput)="onSearch($event)"
      (ionClear)="onClearSearch()"
      [value]="searchTerm()"
    ></ion-searchbar>

    @if (selectedTag(); as tag) {
      <div class="active-filter">
        <ion-chip (click)="onTagTap(tag)"
          ><ion-label>{{ tag }} </ion-label><ion-icon name="close-circle"></ion-icon
        ></ion-chip>
      </div>
    }

    @if (matchingLabels().length) {
      <div class="typeahead-list">
        @for (label of matchingLabels(); track label) {
          <button class="typeahead-item" (click)="onTagTap(label)">{{ label }}</button>
        }
      </div>
    }
  </div>
  <ion-grid>
    <ion-row>
      @for (photo of winePhotos(); track photo.filepath) {
        <ion-col size="6">
          <ion-img
            [src]="photo.webviewPath"
            (click)="editNote(photo.id)"
            role="button"
            tabindex="0"
          ></ion-img>
          <ion-button size="small" (click)="openDeleteModal(photo.id)">{{
            content().delete
          }}</ion-button>
          <p>{{ photo.wineDetails }}</p>
        </ion-col>
      }
      @if (allPhotos().length === 0) {
        <ion-col size="12">
          <p>{{ content().noPhotos }}</p>
        </ion-col>
      }
    </ion-row>
    <ion-modal [isOpen]="isModalOpen()">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ content().delete }}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <ion-button (click)="deletePhoto()">{{ content().yes }}</ion-button>
          <ion-button fill="outline" (click)="closeModal()">{{ content().no }}</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-grid>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="onAddPhoto()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
